.reportbox{
  width: 100%;/*全体の幅*/
  font-size: 10pt;/*文字サイズ*/
  }
.reportbox dt{/*タイトル部分の設定*/
  color: #414142;/*文字色*/
  background-color: #FCFCFD;/*背景色*/
  font-weight: bold;
  width: 11em;/*タイトルの幅（文字数）*/
  position: relative;
  z-index: 2;
  padding: 0.3em 1em 0.2em 0.3em;
  border-style: solid;
  border-color: #616161;/*枠の色*/
  border-width: 1px 2px 2px 1px;
  }
.reportbox dt span{
  padding-left: 8px;
  border-left: 4px solid #BEBEBF;/*タイトル部の左縦線*/
  }
.reportbox dd{/*内容部分*/
  position: relative;
  z-index: 1;
  top: -0.9em;
  margin: 0 0 0 0.9em;
  border: solid 1px #717175;/*枠の色*/
  }
.reportbox dd .text {
  padding: 1.7em 0.5em 1em 1em;/*テキスト部分の余白*/
  border-left: solid 30px #DEDEDF;/*左側の着色部分*/
  }
  
#chart{
  width: 400px;
  }
#AutoRuns_area, #Reg_area, #Dir_area{
  position: relative;
  padding: 1.7em 0.5em 1em 1em;/*テキスト部分の余白*/
  border-left: solid 30px #DEDEDF;/*左側の着色部分*/
  }
#AutoRuns_mali, #Reg_mali, #Dir_mali{
  position: relative;
  left: 100px;
  display: table-cell;
  }
#AutoRuns_susp, #Reg_susp, #Dir_susp{
  position: relative;
  left: 150px;
  display: table-cell;
  }
#AutoRuns_detail, #Reg_detail, #Dir_detail{
  position: absolute;
  top: 30px;
  left: 400px;
}
#AutoRuns_parent, #Reg_parent, #Dir_parent{
  font-size: 10pt;
  background-color: #ccf;
  }
#AutoRuns_child, #Reg_child, #Dir_child{
  font-size: 9pt;
  padding-left: 10px;
  background-color: #ddd;
  }
.child_margin{
  padding-left: 10px;
  }
